.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
build/*
!build/gostop/
build/gostop/dist/
build/gostop/pyi_build/
build/gostop/icon.iconset/
build/gostop/*.icns
!build/gostop/build_gostop_mac.sh
!build/gostop/build_gostop_win.ps1
!build/gostop/README.md
!build/gostop/GoStop.spec
!build/rhythm/
build/rhythm/dist/
build/rhythm/pyi_build/
build/rhythm/icon.iconset/
build/rhythm/*.icns
!build/rhythm/build_rhythm_mac.sh
!build/rhythm/build_rhythm_win.ps1
!build/rhythm/README.md
!build/rhythm/Rhythm.spec
*.spec
*.ico
